body {
    padding: 50px;
}

label {
    margin-right: 7px;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

h3, h4 {
    margin-bottom: 10px;
}

h4 {
    margin-top: 10px;
}

main {
    margin-top:30px;
}

.form-group {
    margin-right: 20px;
}

.latest-stats, .login-form {
    width: 500px;
    margin-top: 15px;
    margin-left: -250px;
    position: relative;
    left: 50%;
}

.logo {
    text-align: center;
}

.logo img {
    width: 300px;
}

.login-link {
    display: block;
    text-align: right;
}