<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter sentiments about fast fashion</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"/>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/ck/static/chartkick.js"></script>
</head>
<body>
<div class="logo">
    <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            alt="logo"
    />
</div>
<h2>Latest sentiments for 'fast fashion' in Twitter:
    {% if current_stat == None %}
        pending
    {% endif %}
</h2>
{% if current_stat != None %}
    <table class="table latest-stats">
        <tr>
            <th scope="row">Capture time</th>
            <td>{{ current_stat.time }}</td>
        </tr>

        <tr>
            <th scope="row">Tweets processed</th>
            <td>{{ current_stat.tweets_processed }}</td>
        </tr>

        <tr>
            <th scope="row">Sentiment score</th>
            <td>{{ current_stat.sentiment_score }}</td>
        </tr>
    </table>
    {% if current_user.is_authenticated %}
        <main>
            <h3>Historic trends for {{ current_user.name }}:</h3>
            <form action="/" method="get" class="form-inline">
                <div class="form-group mb-2">
                    <label for="date_from">From date:</label>
                    <input type="date" id="date_from" name="date_from" value="{{ date_from }}">
                </div>
                <div class="form-group mb-2">
                    <label for="date_to">To date:</label>
                    <input type="date" id="date_to" name="date_to" value="{{ date_to }}">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Show scores</button>
            </form>
            <h4>Sentiment score over time (average: {{ historic_data['avg_score'] }})</h4>
            {% line_chart historic_data['all_scores'] %}
            <h4>Number of tweets over time (average: {{ historic_data['avg_tweets'] }})</h4>
        </main>
        {% line_chart historic_data['all_tweets'] %}
        <a href="/logout" class="login-link">[log out]</a>
    {% else %}
        <a href="/login" class="login-link">Log in to see historic charts</a>
    {% endif %}
{% endif %}
</body>
</html>