<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"/>
</head>
<body>
<div class="form-wrapper">
    <div class="logo">
        <img
                src="{{ url_for('static', filename='img/logo.png') }}"
                alt="logo"
        />
    </div>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button
                    type="button"
                    class="close"
                    data-dismiss="alert">
                x
            </button>
            {{ message }}
        </div>
    {% endfor %}

    <h2>Log In</h2>

    <form method="POST" action="/login" class="login-form">
        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(placeholder='youremail@example.com',class='form-control') }}
            {% if form.email.errors %}
                <ul class="errors">
                    {% for error in form.email.errors %}
                        <li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(placeholder='Your password',class='form-control')}}
            {% if form.email.errors %}
                <ul class="errors">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="submit-button">
            {{ form.submit(class="btn btn-primary mb-2") }}
        </div>
    </form>
</div>
</body>
</html>